table {
    border: 1px solid grey;
}
th {
    border: 1px solid grey;
}
td {
    border: 1px solid grey;
}

.pagination p{
    display: flex;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.label-alert {
    display: grid !important;
}

.table-body-scroll{
    max-height: clamp(28em,10vh,250px);
    overflow: auto;
}

.btn-custom-color-size{
    font-size: x-large;
    color:  #d90c0c;
}